<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <article>
			<nav aria-label="breadcrumb">
				<ul>
                  <li><a href="{{ url_for('home') }}">Home</a></li>
                  <li><a href="{{ url_for('index') }}">Service</a></li>
                  <li><a href="{{ url_for('project') }}">Project ideas</a></li>
				  <li>About us</li>
				  
				</ul>
			</nav>
		</article>

        <article>
                <h2>Project Team Name : Deepdreamteam</h2>
                <h3>Project Git : <a href="https://github.com/MLP-deepdreamteam" target="_blank">here</a></li></h3>
                <p>김윤성 ( Model )  </p>
                <ul>
                    <li>https://github.com/goodryanKim</li>
                    <li>kimyunsung@hotmail.com</li>
                </ul>
                
                <p>백운철 ( Model )</p>
                <ul>
                    <li>https://github.com/clausbaek </li>
                    <li>cloud303@naver.com</li>
                </ul>
                <p>신승일 ( UI & Backend )</p>
                <ul>
                    <li>https://github.com/devseungil</li>
                    <li>dev.seungil@gmail.com</li>
                </ul>
                <p>황인 ( DB )</p>
                <ul>
                    <li>https://github.com/ps1516in</li>
                    <li>kggp04484@gmail.com</li>
                </ul>
            </article>
</body>
</html>