<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <article>
            <nav aria-label="breadcrumb">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Service</a></li>
                  <li><a href="#">Project</a></li>
                  
                </ul>
            </nav>
        </article>
    </div>
    {% block content %}
    {% endblock%}
</body>
</html>