<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <article>
			<nav aria-label="breadcrumb">
				<ul>
                  <li><a href="{{ url_for('home') }}">Home</a></li>
                  <li><a href="{{ url_for('index') }}">Service</a></li>
				  <li>Project ideas</li>
				  <li><a href="{{ url_for('about') }}">About us</a></li>
				</ul>
			</nav>
		</article>

		<article>
			<h2>추후 구현할 세부기능</h2>
			<ul>
					<li>로그인 기능 / 로그인 통해 각자 저장된 이미지를 나중에 다시 조회하는 기능</li>
		
		
					<li>접근성 기능 / 사용자 명령(음성, STT)를 통해서 해당 사이트 동작 확인 / TTS 를 통해 사이트 설명</li>
		
					 <li>beam search 통해 여러 캡션 동시생성/ 여러이미지 동시에 캡션생성</li>
		
		
					<li>개선 : 모델 정확도 / 모델 로드 속도 최적화 / 사용자 모델 설정</li>
			</ul>

		</article>
    
</body>
</html>